 h2 {
    font-size: 28px;
 }

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.contact-content {
    width: 100%;
    margin-right: 40px;
}

.contact-input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    color: #000000;
    border: 1px solid #a5a5a5;
}

.send-btn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}