h2 {
    text-align: center;
}

.watches-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px 30px;
}

.watch-card {
    background-color: #faf9fa;
    border-radius: 10px;
    padding: 10px;
}

.watch-card .watch-card-img {

    text-align: center;
}

.watch-card img {
    height: 175px;
}

.watch-card .watch-card-footer {
    display: flex;
    justify-content: space-between;
}

.watch-card .watch-card-footer h6 {
    color: #000;
}
